@font-face {
  font-family: 'icomoon';
  src: url("../fonts/icomoon/icomoon.eot?sf4hqa");
  src: url("../fonts/icomoon/icomoon.eot?sf4hqa#iefix") format("embedded-opentype"), url("../fonts/icomoon/icomoon.ttf?sf4hqa") format("truetype"), url("../fonts/icomoon/icomoon.woff?sf4hqa") format("woff"), url("../fonts/icomoon/icomoon.svg?sf4hqa#icomoon") format("svg");
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-facebook-square:before {
  content: "\f082";
}

.icon-linkedin-square:before {
  content: "\f08c";
}

.icon-twitter:before {
  content: "\f099";
}

.icon-angle-down:before {
  content: "\f107";
}

.icon-youtube-play:before {
  content: "\f16a";
}

h1, h2, h3, h4, h5, p {
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Nunito', sans-serif;
  font-size: 18px;
  font-weight: 400;
  color: #383838;
}

body ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

body a {
  color: inherit;
}

body a:hover, body a:focus, body a:active, body a:visited {
  text-decoration: none;
  color: inherit;
}

body .header {
  background-color: #6ac0f3;
  color: #fff;
  height: 350px;
}

body .header h1 {
  font-family: "Poor Story", cursive;
  font-size: 55px;
  padding-top: 195px;
  text-align: center;
  position: relative;
}

body .header h1::after {
  content: "";
  position: absolute;
  background-image: url(../img/pencil.png);
  background-position: center center;
  width: 63px;
  height: 172px;
  top: 73px;
  right: 55px;
}

body .header .wrap-menu {
  position: absolute;
  margin-left: 125px;
}

body .header .wrap-menu .menu {
  position: absolute;
  left: 25px;
  bottom: 0px;
  width: 100%;
}

body .header .wrap-menu .menu ul {
  position: relative;
}

body .header .wrap-menu .menu ul li {
  display: inline-block;
}

body .header .wrap-menu .menu ul li + li {
  padding-left: 7px;
}

body .header .wrap-menu .menu ul a {
  font-size: 16px;
  color: #6ac0f3;
  cursor: pointer;
}

body .header .wrap-menu .menu ul a:hover {
  font-size: 17px;
  -webkit-transition: all 0.1s;
  -o-transition: all 0.1s;
  transition: all 0.1s;
}

.section_1 {
  padding-top: 75px;
  height: 1120px;
  background-image: url("../img/bg_img.png");
  background-repeat: no-repeat;
  -webkit-background-size: cover;
          background-size: cover;
  background-position: top center;
}

.section_1 h2 {
  font-family: "Poor Story", cursive;
  font-size: 29px;
  color: #6ac0f3;
  text-align: center;
  position: relative;
  padding-bottom: 80px;
}

.section_1 h2::after {
  content: "Vida social, 6/05/2018 ,Foto: microblog personal.";
  color: #9fa5b8;
  font-size: 16px;
  position: absolute;
  top: 35px;
  left: 42px;
}

.section_1 .text {
  line-height: 35px;
}

.section_1 .text span {
  color: #6ac0f3;
}

.section_1 .photo {
  padding-top: 35px;
  text-align: center;
}

.section_1 h4 {
  font-family: "Poor Story", cursive;
  font-size: 29px;
  color: #6ac0f3;
  text-align: center;
  position: relative;
  padding-top: 24px;
}

.section_2,
.section_3 {
  margin-top: 100px;
  margin-bottom: 320px;
  height: 1120px;
  background-image: url("../img/bg_img.png");
  background-repeat: no-repeat;
  -webkit-background-size: cover;
          background-size: cover;
  background-position: center center;
  position: relative;
}

.section_2 .wrap-name,
.section_3 .wrap-name {
  margin-top: -75px;
  position: relative;
}

.section_2 .wrap-name h3,
.section_3 .wrap-name h3 {
  font-family: "Poor Story", cursive;
  font-size: 55px;
  color: #fff;
  position: absolute;
  left: 70px;
  bottom: -10px;
  width: 100%;
}

.section_2 .text,
.section_3 .text {
  padding-top: 50px;
  line-height: 35px;
}

.section_2 .photo,
.section_3 .photo {
  padding-top: 35px;
  text-align: center;
}

.section_2 h4,
.section_3 h4 {
  font-family: "Poor Story", cursive;
  font-size: 29px;
  color: #6ac0f3;
  text-align: center;
  position: relative;
  padding-top: 13px;
}

.section_4 {
  background-color: #6ac0f3;
  min-height: 1655px;
  margin-top: -220px;
}

.section_4 .text {
  line-height: 35px;
  color: #fff;
  padding-top: 50px;
}

.section_4 .text span {
  font-weight: 700;
  display: block;
  padding-top: 10px;
}

.section_4 h4 {
  color: #fff;
  font-family: "Poor Story", cursive;
  font-size: 30px;
  text-align: center;
}

.section_4 .photo,
.section_4 .item {
  text-align: center;
  padding-top: 20px;
}

.section_4 .btn {
  text-align: center;
  margin-top: 60px;
  margin-bottom: 100px;
}

.section_4 .btn a {
  background-color: #ff7a2a;
  color: #fff;
  -webkit-border-radius: 30px;
          border-radius: 30px;
  display: inline-block;
  width: 350px;
  padding: 0 50px;
  font-weight: 900;
}

/*==========    Desktop First    ==========*/
/* Large Devices, Wide Screens */
@media only screen and (max-width: 1200px) {
  /**/
}

/* Medium Devices, Desktop */
@media only screen and (max-width: 992px) {
  /**/
}

/* Small Devices, Tablets */
@media only screen and (max-width: 768px) {
  /**/
}

/* Extra Small Devices, Phones */
@media only screen and (max-width: 480px) {
  /**/
}

/* Custom, iPhones Retina */
@media only screen and (max-width: 320px) {
  /**/
}

/*==========    Mobile First    ==========*/
/* Custom, iPhones Retina */
@media only screen and (min-width: 320px) {
  /**/
}

/* Extra Small Devices, Phones */
@media only screen and (min-width: 480px) {
  /**/
}

/* Small Devices, Tablets */
@media only screen and (min-width: 768px) {
  /**/
}

/* Medium Devices, Desktop */
@media only screen and (min-width: 992px) {
  /**/
}

/* Large Devices, Wide Screens */
@media only screen and (min-width: 1200px) {
  /**/
}
