h1, h2, h3, h4, h5, h6, p, body, ul, li {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}

ul {
  list-style: none;
}

body {
  line-height: 1;
}

body nav ul {
  list-style: none;
}

body a {
  margin: 0;
  padding: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
  color: inherit;
  text-decoration: none;
}

body a:hover, body a:focus, body a:visited, body a:active {
  color: inherit;
  outline: none;
}

body img {
  outline: none;
}

@font-face {
  font-family: 'icomoon';
  src: url("../fonts/icomoon/icomoon.eot?sf4hqa");
  src: url("../fonts/icomoon/icomoon.eot?sf4hqa#iefix") format("embedded-opentype"), url("../fonts/icomoon/icomoon.ttf?sf4hqa") format("truetype"), url("../fonts/icomoon/icomoon.woff?sf4hqa") format("woff"), url("../fonts/icomoon/icomoon.svg?sf4hqa#icomoon") format("svg");
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-envelope-o:before {
  content: "\f003";
}

.icon-map-marker:before {
  content: "\f041";
}

.icon-arrow-up:before {
  content: "\f062";
}

.icon-phone:before {
  content: "\f095";
}

.icon-bars:before {
  content: "\f0c9";
}

.icon-navicon:before {
  content: "\f0c9";
}

.icon-reorder:before {
  content: "\f0c9";
}

body {
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  font-size: 20px;
}

.wrapper {
  max-width: 1500px;
  min-height: 100%;
  margin: 0 auto;
  padding: 0 10px;
}

.header {
  background-image: url("../img/bg_design.png");
  background-repeat: no-repeat;
  background-position: left 85%;
  -webkit-background-size: auto auto;
          background-size: auto;
  min-height: 1080px;
}

.header .top_header {
  z-index: 50;
  height: 110px;
  width: 100%;
  position: fixed;
  background-color: #fff;
}

.header .top_header .logo {
  float: left;
  margin-left: 90px;
  margin-top: 30px;
}

.header .top_header .logo a:hover {
  content: url("../img/logo_hover.svg");
  margin-left: -67px;
  -webkit-transition: all 0.45s;
  -o-transition: all 0.45s;
  transition: all 0.45s;
}

.header .top_header .menu {
  float: right;
}

.header .top_header .menu .btn_menu {
  margin-top: 30px;
  margin-right: 50px;
  cursor: pointer;
  border: none;
  background-color: transparent;
  outline: none;
}

.header .top_header .menu .btn_menu img:hover {
  content: url("../img/menu_hover.svg");
}

.header .top_header .menu ul {
  display: none;
  left: 0;
  right: 0;
  top: 100%;
  height: 1080px;
  padding-top: 50px;
  text-align: center;
  font-size: 48px;
  background-color: #fff;
  position: absolute;
}

.header .top_header .menu li {
  line-height: 120px;
  display: block;
}

.header .top_header .menu li:hover {
  text-decoration: underline;
}

.header .top_header .menu li:last-child a {
  margin: 0 auto;
  margin-top: 120px;
  content: url("../img/home.svg");
}

.header .top_header .menu li:last-child a:hover {
  content: url("../img/home_hover.svg");
}

.header .top_header .menu a {
  display: block;
}

.header .header_content {
  padding-top: 170px;
  overflow: hidden;
}

.header .header_content .text {
  z-index: 0;
  position: relative;
  padding-top: 290px;
  float: left;
  clear: both;
  width: 45%;
  height: 395px;
}

.header .header_content .text::after {
  background-image: url("../img/main_logo.svg");
  -webkit-background-size: contain;
          background-size: contain;
  background-repeat: no-repeat;
  background-position: right 50%;
  display: block;
  width: 100%;
  height: 100%;
  content: "";
  position: absolute;
  top: 0;
  left: 120%;
}

.header .header_content .text h1 {
  font-weight: 700;
  font-size: 72px;
  line-height: 60px;
  letter-spacing: 0.5px;
}

.header .header_content .text p {
  font-size: 40px;
  letter-spacing: 0.8px;
  line-height: 60px;
}

.header .header_content .header_logo {
  float: right;
  width: 46.8%;
  vertical-align: bottom;
}

.header .header_content .header_logo img {
  width: 100%;
}

.main {
  margin-top: -5%;
}

.main .img_content {
  overflow: hidden;
  margin-bottom: 130px;
}

.main .img_content .work {
  display: inline-block;
  width: 49.534%;
  float: left;
  padding: 0.23%;
}

.main .img_content .work:nth-child(5), .main .img_content .work:nth-child(6), .main .img_content .work:nth-child(7) {
  width: 32.66%;
  padding-left: 0.55%;
}

.main .img_content .work:nth-child(5) {
  padding-left: 0.23%;
}

.main .img_content .work:nth-child(7) {
  padding-right: 0;
}

.main .img_content .work img {
  width: 100%;
}

.main .main_text p {
  text-align: center;
  max-width: 710px;
  margin: 0 auto;
  line-height: 36px;
  margin-bottom: 35px;
}

.main .main_text .btn_work {
  text-align: center;
  margin-top: 60px;
  margin-bottom: 150px;
}

.main .main_text .btn_work a {
  letter-spacing: 1px;
  font-size: 15px;
  padding: 20px 65px;
  background-color: #40d3ad;
  color: #fff;
  -webkit-border-radius: 30px;
          border-radius: 30px;
}

.main .creafresh .btn_creaf {
  text-align: center;
  margin-bottom: 50px;
}

.main .creafresh .btn_creaf a {
  font-weight: 500;
  text-transform: uppercase;
  letter-spacing: 0.4px;
}

.main .creafresh .btn_creaf a span {
  color: #c536a5;
}

.main .creafresh .insta {
  overflow: hidden;
}

.main .creafresh .insta .img_size {
  display: inline-block;
  width: 19.2%;
  float: left;
  padding-left: 1%;
}

.main .creafresh .insta .img_size:first-child {
  padding-left: 0;
}

.main .creafresh .insta .img_size img {
  width: 100%;
}

.footer {
  margin-top: 100px;
  border-top: 1px solid #e9e9ea;
  padding: 100px 50px;
  font-size: 14px;
  z-index: 99;
}

.footer .contact {
  float: left;
  display: block;
}

.footer .contact ul {
  padding-top: 20px;
}

.footer .contact ul li {
  display: inline-block;
  padding-right: 6px;
}

.footer .soc {
  float: right;
}

.footer .soc ul {
  float: right;
}

.footer .soc ul li {
  display: inline-block;
}

.footer .soc ul li:first-child {
  color: #c536a5;
  padding-right: 15px;
}

.footer .soc ul li:last-child {
  color: #475993;
}

.footer .soc ul li:hover {
  text-decoration: underline;
}

.footer .soc .copi {
  font-size: 12px;
  padding-top: 30px;
}

/*==========    Desktop First    ==========*/
/* Large Devices, Wide Screens */
@media only screen and (max-width: 1920px) {
  /**/
  .main {
    margin-top: -10%;
  }
}

@media only screen and (max-width: 1500px) {
  /**/
  .wrapper {
    padding: 0 50px;
  }
}

/* Large Devices, Wide Screens */
@media only screen and (max-width: 1280px) {
  /**/
  .main {
    margin-top: -15%;
  }
}

/* Large Devices, Wide Screens */
@media only screen and (max-width: 1250px) {
  /**/
  .header .wrapper .header_content .text h1 {
    font-size: 50px;
  }
  .header .wrapper .header_content .text p {
    font-size: 30px;
  }
  .main {
    margin-top: -20%;
  }
}

/* Medium Devices, Desktop */
@media only screen and (max-width: 1024px) {
  /**/
  .main .img_content .work:nth-child(8) {
    content: url("../img/img_10.jpg");
  }
  .main .img_content .work:nth-child(9) {
    content: url("../img/img_8.jpg");
  }
}

/* Medium Devices, Desktop */
@media only screen and (max-width: 992px) {
  /**/
  .header {
    min-height: 478px;
    -webkit-background-size: cover;
            background-size: cover;
  }
  .header .top_header {
    position: inherit;
  }
  .header .wrapper {
    position: relative;
  }
  .header .top_header {
    background-color: transparent;
  }
  .header .header_content .text {
    padding-top: 10px;
    margin: 0 auto;
    float: none;
  }
  .header .header_content .text::after {
    background-image: url("../img/main_logo_small.svg");
    -webkit-background-size: 70% 70%;
            background-size: 70%;
    left: 60%;
    top: -40%;
    content: "";
  }
  .header .header_content .text h1, .header .header_content .text p {
    text-align: center;
  }
  .main {
    margin: 0;
  }
  .main .wrapper .img_content .work {
    width: 100%;
    padding: 0;
    padding-top: 10px;
  }
  .main .wrapper .creafresh .insta .img_size {
    padding-bottom: 5px;
    width: 49.5%;
  }
  .main .wrapper .creafresh .insta .img_size:first-child {
    content: url("../img/insta_3.jpg");
  }
  .main .wrapper .creafresh .insta .img_size:nth-child(2) {
    content: url("../img/insta_5.jpg");
  }
  .main .wrapper .creafresh .insta .img_size:nth-child(3) {
    content: url("../img/insta_1.jpg");
    padding-left: 0;
  }
  .main .wrapper .creafresh .insta .img_size:nth-child(4) {
    content: "";
    display: none;
  }
  .main .wrapper .creafresh .insta .img_size:last-child {
    content: url("../img/insta_2.jpg");
  }
  .footer .contact {
    text-align: center;
    float: none;
  }
  .footer .soc {
    padding-top: 50px;
    text-align: center;
    float: none;
  }
  .footer .soc ul {
    float: none;
  }
}

/* Small Devices, Tablets */
@media only screen and (max-width: 768px) {
  /**/
}

/* Extra Small Devices, Phones */
@media only screen and (max-width: 480px) {
  /**/
}

/* Custom, iPhones Retina */
@media only screen and (max-width: 320px) {
  /**/
}

/*==========    Mobile First    ==========*/
/* Custom, iPhones Retina */
@media only screen and (min-width: 320px) {
  /**/
}

/* Extra Small Devices, Phones */
@media only screen and (min-width: 480px) {
  /**/
}

/* Small Devices, Tablets */
@media only screen and (min-width: 768px) {
  /**/
}

/* Medium Devices, Desktop */
@media only screen and (min-width: 992px) {
  /**/
}

/* Large Devices, Wide Screens */
@media only screen and (min-width: 1200px) {
  /**/
}
